@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;700&display=swap');
:root{
    --blue: #0065FC;
    --light-blue: #deebff;
    --grey: #D9d9d9;
    --bg-section: #f2f2f2;
}
* {
    margin: 0;
    padding: 0;
    max-width: 1400px;
}

body {
    display: flex;
    flex-flow: column wrap;
    font-family: 'Raleway', sans-serif;
    background: white;
    color: black;
    font-size: 16px;
}
a {
    text-decoration: none;
    color: black;
}
li {
    list-style: none;
}
.fa .fas {
    font-weight: 900;
}
.title{
font-style: normal;
font-weight: 700;
font-size: 22px;
line-height: 26px;
}
.subtitle{
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 19px;
}
.card_title{
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 19px;
}

/* header > nav */
header{
    width: 100%;
}
main{
    width: 100%;
}
nav{
    display: flex;
    
}
nav>.logo>img {
    width: 61px;
    height: 19px;
    padding: 44px  55px;
}
nav>ul.nav-list{
    display:flex;
    width: 100%;
    justify-content: flex-end;
    align-items: center;
}
nav>ul.nav-list>.nav-items{
    display: inline-flex;
    align-items: center;
    height: 100%;
}
nav>.nav-list>.nav-items{
    padding-right: 2.5rem;
    height: 100%;
}
nav>.nav-list>.nav-items>.nav-links{
    display: flex;
    align-items: center;
    height: 100%;
    font-style: normal;
    font-weight: 400;
    border-top: white 3px solid;
}
nav>.nav-list>.nav-items:hover>.nav-links{
    border-top: var(--blue) 3px solid;
    color: var(--blue);
}

/* main */
/* section header-main */
.header-main{
    padding-left: 55px;
    padding-top: 19px;
}
.header-main>.title{
    margin-bottom: 8px;
}
.header-main>.subtitle{
    margin-bottom: 20px;
}
.header-main>form {
    display: inline-flex;
}
.header-main>form>span {
    padding: 1rem 1.25rem;
    text-align: center;
    background: var(--light-blue);
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}
.header-main>form>input.search {
    padding: 0 1.5rem;
    width: 14em;
    font-weight: 700;
    font-size: 1rem;
    border: none;
    border-top: solid 1px var(--light-blue);
    border-bottom: solid 1px var(--light-blue);
}
.header-main>form>input.search:focus {
    outline: none;
    border-left: solid 1px var(--blue);
    border-bottom: solid 1px var(--blue);
}
.header-main>form>button.rechercher {
    padding: 16px;
    border-left: none;
    border-right: solid 1px var(--blue);
    border-top: solid 1px var(--blue);
    border-bottom: solid 1px var(--blue);
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    color: white;
    background: var(--blue);
    font-size: 1rem;
}
.header-main>form>button.rechercher:hover {
    cursor: pointer;
}

/* section filtres */
.filters {
    display: flex;
    margin-top: 3rem;
    margin-left: 62px;
}
.filters>.title {
    display: flex;
    margin: 0 7px;
    align-items: center;
}
.filters>.f-cards{
    display: flex;
    align-items: center;
}
 .filters>.f-cards>.filtersCard {
    display: flex;
    align-items: center;
    margin-left: 2rem;
    border: 2px solid var(--light-blue);
    border-radius: 2rem;
    margin-bottom: 1rem;
    cursor: pointer;
    font-weight: bold;
    padding-right: 1rem;
}
.filters>.f-cards>.filtersCard:hover {
    background-color: var(--light-blue);
}
.filters>.f-cards>.filtersCard>i {
  
    min-height: 3.5rem;
    min-width: 3.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: -2px;
    color: #0065FC;
   
}

/* info-content */
.info-content {
    display: flex;
    align-items: center;
    margin: 50px  0 0 59px ;
}
.info-content>.info {
    display: inline-flex;
    align-items: center;
    justify-content: center;
}
.info-content>.info>i {
    height: 2rem;
    width: 2rem;
    min-height: 2rem;
    min-width: 2rem;
    border: solid 1px #d9d9d9;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 1rem;
    color: #0065FC;
}

/* main-container */
.main-container{
    display: flex;
    justify-content: space-around;
    margin: 37px 0 0 50px;
}
.main-container>section{
    border-radius: 20px;
    background: var(--bg-section);
}
/* herbergement-container */
.main-container>section.herbergement-container{
    margin-right: 2.5rem;
}
.main-container>section>.title{
    margin: 42px 0 0 40px;
}
.main-container>section.herbergement-container>.content{
    display:flex;
    flex-flow: row wrap;
    justify-content: space-evenly;   
    /* margin-left: 20px; */
}
.more{
    font-size: 18px;
    margin: 20px 0 20px 40px;
}
/* popular-container */
.popular-container>.title{
    display: flex;
    justify-content: space-between;
}
.popular-container>.title>i{
    margin-right: 32px;
    color: var(--blue);
}
/*  activities */
section.activities-container{
    margin-left: 1rem;
}
section.activities-container>.title{
    margin: 60px 0 18px 50px;
}
section.activities-container>.content{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: center;
    
}

/* footer */
footer{
    display: flex;
    justify-content:space-around;
    margin: 60px 3.5rem 0;

    padding: 2em 1em 2em 1em ;
    background: var(--bg-section);
}
footer>.section_footer{
    display: flex;
    flex-direction: column;
    padding-top: 1em;
}
footer>.section_footer>.title{
    margin-bottom: 1em;
    font-size: 18px;
}
footer>.section_footer>ul>li{
    margin-top: 1em;
    margin-bottom: 1em;
}

/* cards */
/* card_type_1 */
.card_type_1{
    display: flex;
    flex-flow: wrap;
    width: 246px;
    height: 199px;
    border-radius: 20px;
    background: white;
    margin:  1.5rem 0.9rem;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}
.card_type_1>.card_img{
    width: 100%;
    height: 124px;
    border: 5px solid white;   
    border-radius: 20px 20px 0 0;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.card_type_1>.card_body {
 margin-left: 16px;
}
.card_type_1>.card_body>.card_title{
     margin-top: 2px;
    margin-bottom: 4px;
}
.card_type_1>.card_body>.subtitle{
    font-size: 14px;
    font-weight: 400;
}
.card_type_1>.card_body>.card_stars{
    display: flex;
    justify-content:flex-start;
    align-items: flex-end;
    margin-top: 4px;
}
/* card_type_2 */
.card_type_2{
    display: flex;
    width: 343px;
    height: 144px;
    border-radius: 20px;
    background: white;
    margin: 2rem 2rem;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}
.card_type_2>.card_img{
    width: 137px;
    height: auto;
    border-radius: 20px 0 0 20px;
    border: 5px solid white;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.card_type_2>.card_body {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    width: 169px;
    height: 100%;
    margin-left: 16px;
}
.card_type_2>.card_body>.card_description>.card_title{
    white-space:pre-line;
     margin-top: 2px;
    margin-bottom: 4px;
}
.card_type_2>.card_body>.card_description>.subtitle{
    font-size: 14px;
    font-weight: 400;
}
.card_type_2>.card_body>.card_stars{
    display: flex;
    justify-content:flex-start;
    align-items: flex-end;
}
.card_body>.card_stars>i{
    padding-bottom: 9px;
}
.card_body>.card_stars>i.checked{
    color: var(--blue);
}
.card_body>.card_stars>i.notchecked{
    color: var(--light-blue);
}

/* card_type3 */
.card_type_3{
    display: flex;
    flex-direction: column;
    height: 444px;
    width: 302px;
    background: white;
    border-radius: 20px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}
.card_type_3>.card_img{
    width: 100%;
    height: 100%;
    border-radius: 20px 20px 0 0;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; 
} 
.card_type_3>.card_title{
    width: 100%;
    height: 56px;
    border-radius: 0 0 20px   20px ;
    padding: 1em;
    
}
/* img cards */
.img1{
    background: url('./public/images/hebergements/3_medium/marcus-loke-WQJvWU_HZFo-unsplash.jpg');
}
.img2{
    background: url('./public/images/hebergements/3_medium/fred-kleber-gTbaxaVLvsg-unsplash.jpg');
}
.img3{
    background: url('./public/images/hebergements/3_medium/reisetopia-B8WIgxA_PFU-unsplash.jpg');
}
.img4{
    background: url('./public/images/hebergements/3_medium/annie-spratt-Eg1qcIitAuA-unsplash.jpg');
}
.img5{
    background: url('./public/images/hebergements/3_medium/nicate-lee-kT-ZyaiwBe0-unsplash.jpg');
}
.img6{
    background: url('./public/images/hebergements/3_medium/febrian-zakaria-M6S1WvfW68A-unsplash.jpg');
}
.img7{
    background: url('./public/images/hebergements/3_medium/emile-guillemot-Bj_rcSC5XfE-unsplash.jpg');
}
.img8{
    background: url('./public/images/hebergements/2_large/aw-creative-VGs8z60yT2c-unsplash.jpg');
}
.img9{
    background: url('./public/images/hebergements/3_medium/febrian-zakaria-sjvU0THccQA-unsplash.jpg');
}
.img10{
    background: url("./public/images/activites/3_medium/reno-laithienne-QUgJhdY5Fyk-unsplash.jpg");
}
.img11{
    background: url('./public/images/activites/3_medium/paul-hermann-QFTrLdQIRhI-unsplash.jpg');
}
.img12{
    background: url('./public/images/activites/3_medium/kilyan-sockalingum-NR8-cBCN3aI-unsplash.jpg');
}
.img13{
    background: url('./public/images/activites/3_medium/florian-wehde-xW9e8gdotxI-unsplash.jpg');
}


/* Tablette */
@media (min-width: 768px) and (max-width: 992px) {
    .filters>.f-cards>.filtersCard {

        margin-left: 0.5rem;

        padding-right: 0.5rem;
    }
    .main-container{
        display: flex;
        flex-direction: column;
        margin-right: 50px;
        
    }
    .main-container>section.herbergement-container{
        margin-right: 0;
    }
    .main-container>section.herbergement-container>.content{
        display:flex;  
        margin-left: 10px;
    }
    .main-container>section.popular-container{
        margin-top: 53px;
    }
    .main-container>section.popular-container>.content{
        display: flex;
        flex-flow:wrap row;
        justify-content: space-between;
        /* padding: 26px 40px 48px; */
    }
    .card_type_2{
        width: 252px;
        margin: 20px;
        
    }
    .card_type_3{
        width: 182px;
        height: 267px;
    }

}
/* mobile */
@media (max-width: 767px){
    nav{
        display: flex;
        flex-flow: column wrap;
        justify-content: center;
        align-items: center;
    }
    nav>ul.nav-list{
        padding: 0;
        margin: 0;
        display:flex;
        width: 100%;
    }
    nav>ul.nav-list>.nav-items{
        width: 100%;
        justify-content: center;
        padding: 0;
        border-bottom: #D9d9d9 solid 3px;
    }
    nav>ul.nav-list>.nav-items:hover{
        width: 100%;
        justify-content: center;
        padding: 0;
        border-bottom: var(--blue) solid 3px;
    }
    nav>.nav-list>.nav-items>.nav-links{
        margin-bottom: 1rem;
    }
    nav>.nav-list>.nav-items:hover>.nav-links{
        border-top: none;
    }
    .header-main{
        padding-left:25px;
        padding-top: 19px;
    }
    .header-main>form>button.rechercher>span {
        display: none;
    } 
    .filters {
        display: flex;
        flex-flow: column ;
        margin-left: 25px;
    }
    .filters>.title {
        
        margin: 25px 7px;
        align-items: center;
    }
    .filters>.f-cards{
        display: flex;
        flex-flow: row wrap;
        justify-content: space-evenly;
        margin: 20px;
    }
    .filters>.f-cards>.filtersCard {
        /* margin-left: 14px; */
        width: 160px;
    }
    .info-content {
        margin-bottom: 2rem;
        align-items: flex-start;
    }
    .main-container{
        display: flex;
        flex-direction: column-reverse;
        margin: 0;
    }
    .main-container>section{
        border-radius: 0;
    }
    .main-container>section>.title{
        margin-top: 2rem;
        margin-bottom: 1.5rem;
    }
    .main-container>section.herbergement-container{
        margin: 0;
        background: white;
    }
    .main-container>section.herbergement-container>.content{
        display:flex;
        flex-flow: column;
        justify-content: space-evenly;
        align-items: center;  
        width: 100%; 
    }
    .main-container>section.popular-container{
        margin: 0;
        padding: 0;
    }
    .main-container>section.popular-container>.content{
        display:flex;
        flex-flow: column;
        justify-content: space-evenly;
        align-items: center;  
        
        width: 100%;  
    }
    
    /* footer */
footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;

}

footer>.section_footer>.title{
    text-align: center;
}
footer>.section_footer>ul>li{
    text-align: center;

}
    .card_type_1{
        width: 335px;
        height: 199px;
    }
    .card_type_2{
        width: 334px;
        height: 144px;
        margin:0 5px 10px 0 ;
    }
    .card_type_3{
        height: 190px;
        width: 334px;
        margin-bottom: 24px;
    }
}